@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$red: #911C1C;
$orange: #D3573C;
$black: #000;
$dark: #525252;
$grey: #757575;
$white: #fff;
$light: #FAFAFA;

@mixin container() {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

header, main {
  @include container;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.75rem 0;
  margin-bottom: 2rem;

  > img {
    height: 40px;
  }
}

main {
  margin-bottom: 5rem;
}